body{
    padding: 0px;
    margin:0px;
}

.main{
    width: 100%;
    height: 930px;
    position:absolute;
    background-image: url('images/bg.jpg');
    background-size:cover;
}

.navbar{
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed; 
}

.navbar ul{
    list-style:none;
    text-align: center;
}

.navbar ul a{
    text-decoration: none;
}

.navbar ul a li{
    display: inline;
    color: #d13617;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 15px;
    cursor:pointer;
    transition: 0.3s ease;
}

.navbar ul a li:hover{
    background-color: red;
    color:yellow;
    border-radius: 20px;
}

h1{
    text-align: center;
    color: lightseagreen;
}

form{
    text-align: center;
    width: 400px;
    height:auto;
    border:5px solid black;
    background-color: #4166F5;
    position: absolute;
    top:250px;
    left:750px;
    border-radius: 15px;
}